# Исследование надежности заемщиков.

### Шаг 1. Обзор данных

In [97]:
import pandas as pd
data = pd.read_csv("datasets/data.csv")
print(data.head(10))

   children  days_employed  dob_years education  education_id  \
0         1   -8437.673028         42    высшее             0
1         1   -4024.803754         36   среднее             1
2         0   -5623.422610         33   Среднее             1
3         3   -4124.747207         32   среднее             1
4         0  340266.072047         53   среднее             1
5         0    -926.185831         27    высшее             0
6         0   -2879.202052         43    высшее             0
7         0    -152.779569         50   СРЕДНЕЕ             1
8         2   -6929.865299         35    ВЫСШЕЕ             0
9         0   -2188.756445         41   среднее             1

      family_status  family_status_id gender income_type  debt   total_income  \
0   женат / замужем                 0      F   сотрудник     0  253875.639453
1   женат / замужем                 0      F   сотрудник     0  112080.014102
2   женат / замужем                 0      M   сотрудник     0  145885.952297
3   женат / замужем                 0      M   сотрудник     0  267628.550329
4  гражданский брак                 1      F   пенсионер     0  158616.077870
5  гражданский брак                 1      M   компаньон     0  255763.565419
6   женат / замужем                 0      F   компаньон     0  240525.971920
7   женат / замужем                 0      M   сотрудник     0  135823.934197
8  гражданский брак                 1      F   сотрудник     0   95856.832424
9   женат / замужем                 0      M   сотрудник     0  144425.938277

                      purpose
0               покупка жилья
1     приобретение автомобиля
2               покупка жилья
3  дополнительное образование
4             сыграть свадьбу
5               покупка жилья
6           операции с жильем
7                 образование
8       на проведение свадьбы
9     покупка жилья для семьи

Были обнаружены пропуски в столбацах: total_income, days_employed.

In [98]:
col_nan_total_income = data["total_income"].isna()
print(len(col_nan_total_income)/21524)

1.0000464597658427

Процент пропусков составили чуть более 1%. Вероятно пропуски появились из-за отсутствия основного места работы у клиента, следовательно не были внесены из официальных баз. Лучшее решение заменить пропуски на медианное значение, так как среднее будет не характерно описывать картну в общем.

### Шаг 2.1 Заполнение пропусков

In [99]:

median_of_total_income = data["total_income"].median() #Медианное значение по столбцу - total_income
data["total_income"] = data["total_income"].fillna(value=median_of_total_income) #Замена пропусков на медианное значение в столбце - total_income
print(data.head(15))

    children  days_employed  dob_years            education  education_id  \
0          1   -8437.673028         42               высшее             0
1          1   -4024.803754         36              среднее             1
2          0   -5623.422610         33              Среднее             1
3          3   -4124.747207         32              среднее             1
4          0  340266.072047         53              среднее             1
5          0    -926.185831         27               высшее             0
6          0   -2879.202052         43               высшее             0
7          0    -152.779569         50              СРЕДНЕЕ             1
8          2   -6929.865299         35               ВЫСШЕЕ             0
9          0   -2188.756445         41              среднее             1
10         2   -4171.483647         36               высшее             0
11         0    -792.701887         40              среднее             1
12         0            NaN         65              среднее             1
13         0   -1846.641941         54  неоконченное высшее             2
14         0   -1844.956182         56               высшее             0

       family_status  family_status_id gender income_type  debt  \
0    женат / замужем                 0      F   сотрудник     0
1    женат / замужем                 0      F   сотрудник     0
2    женат / замужем                 0      M   сотрудник     0
3    женат / замужем                 0      M   сотрудник     0
4   гражданский брак                 1      F   пенсионер     0
5   гражданский брак                 1      M   компаньон     0
6    женат / замужем                 0      F   компаньон     0
7    женат / замужем                 0      M   сотрудник     0
8   гражданский брак                 1      F   сотрудник     0
9    женат / замужем                 0      M   сотрудник     0
10   женат / замужем                 0      M   компаньон     0
11   женат / замужем                 0      F   сотрудник     0
12  гражданский брак                 1      M   пенсионер     0
13   женат / замужем                 0      F   сотрудник     0
14  гражданский брак                 1      F   компаньон     1

     total_income                            purpose
0   253875.639453                      покупка жилья
1   112080.014102            приобретение автомобиля
2   145885.952297                      покупка жилья
3   267628.550329         дополнительное образование
4   158616.077870                    сыграть свадьбу
5   255763.565419                      покупка жилья
6   240525.971920                  операции с жильем
7   135823.934197                        образование
8    95856.832424              на проведение свадьбы
9   144425.938277            покупка жилья для семьи
10  113943.491460               покупка недвижимости
11   77069.234271  покупка коммерческой недвижимости
12  145017.937533                    сыграть свадьбу
13  130458.228857            приобретение автомобиля
14  165127.911772         покупка жилой недвижимости

### Шаг 2.2 Проверка данных на аномалии и исправления.

In [100]:
anom = data[data["days_employed"] < 0 ]["days_employed"].count()
print(anom) # 15906 аномалей было обнаружено в столбце - "days_employed"
print(data[data["days_employed"] == 0 ]["days_employed"].count()) #Количество строк с 0 значением

15906
0

Таким образом, прежде чем исправлять аномалию, нужно все пропуски заменить на нулевое значение, затем исправить аномалию, а потом заменить нули на медианное значение по столбцу.

In [101]:
#data["days_employed"]=data["days_employed"].fillna(value=0) #Заменяем пустоту нулями.
def change(df):
    df["days_employed"] = df["days_employed"].apply(lambda x: abs(x) if pd.notna(x) and x<0 else x)
    return df
data = change(data)

median_of_days_employed = data["days_employed"].median() #Медианное значение по столбцу - days_employed
data["days_employed"] = data["days_employed"].fillna(value=median_of_days_employed) #Замена пропусков на медианное значение в столбце - days_employed.
print(data.head(15)) # Обновлённый датасет

    children  days_employed  dob_years            education  education_id  \
0          1    8437.673028         42               высшее             0
1          1    4024.803754         36              среднее             1
2          0    5623.422610         33              Среднее             1
3          3    4124.747207         32              среднее             1
4          0  340266.072047         53              среднее             1
5          0     926.185831         27               высшее             0
6          0    2879.202052         43               высшее             0
7          0     152.779569         50              СРЕДНЕЕ             1
8          2    6929.865299         35               ВЫСШЕЕ             0
9          0    2188.756445         41              среднее             1
10         2    4171.483647         36               высшее             0
11         0     792.701887         40              среднее             1
12         0    2194.220567         65              среднее             1
13         0    1846.641941         54  неоконченное высшее             2
14         0    1844.956182         56               высшее             0

       family_status  family_status_id gender income_type  debt  \
0    женат / замужем                 0      F   сотрудник     0
1    женат / замужем                 0      F   сотрудник     0
2    женат / замужем                 0      M   сотрудник     0
3    женат / замужем                 0      M   сотрудник     0
4   гражданский брак                 1      F   пенсионер     0
5   гражданский брак                 1      M   компаньон     0
6    женат / замужем                 0      F   компаньон     0
7    женат / замужем                 0      M   сотрудник     0
8   гражданский брак                 1      F   сотрудник     0
9    женат / замужем                 0      M   сотрудник     0
10   женат / замужем                 0      M   компаньон     0
11   женат / замужем                 0      F   сотрудник     0
12  гражданский брак                 1      M   пенсионер     0
13   женат / замужем                 0      F   сотрудник     0
14  гражданский брак                 1      F   компаньон     1

     total_income                            purpose
0   253875.639453                      покупка жилья
1   112080.014102            приобретение автомобиля
2   145885.952297                      покупка жилья
3   267628.550329         дополнительное образование
4   158616.077870                    сыграть свадьбу
5   255763.565419                      покупка жилья
6   240525.971920                  операции с жильем
7   135823.934197                        образование
8    95856.832424              на проведение свадьбы
9   144425.938277            покупка жилья для семьи
10  113943.491460               покупка недвижимости
11   77069.234271  покупка коммерческой недвижимости
12  145017.937533                    сыграть свадьбу
13  130458.228857            приобретение автомобиля
14  165127.911772         покупка жилой недвижимости

### Шаг 2.3. Изменение типов данных.

In [102]:
data["total_income"] = data["total_income"].astype('int')
print(data.head(15))

    children  days_employed  dob_years            education  education_id  \
0          1    8437.673028         42               высшее             0
1          1    4024.803754         36              среднее             1
2          0    5623.422610         33              Среднее             1
3          3    4124.747207         32              среднее             1
4          0  340266.072047         53              среднее             1
5          0     926.185831         27               высшее             0
6          0    2879.202052         43               высшее             0
7          0     152.779569         50              СРЕДНЕЕ             1
8          2    6929.865299         35               ВЫСШЕЕ             0
9          0    2188.756445         41              среднее             1
10         2    4171.483647         36               высшее             0
11         0     792.701887         40              среднее             1
12         0    2194.220567         65              среднее             1
13         0    1846.641941         54  неоконченное высшее             2
14         0    1844.956182         56               высшее             0

       family_status  family_status_id gender income_type  debt  total_income  \
0    женат / замужем                 0      F   сотрудник     0        253875
1    женат / замужем                 0      F   сотрудник     0        112080
2    женат / замужем                 0      M   сотрудник     0        145885
3    женат / замужем                 0      M   сотрудник     0        267628
4   гражданский брак                 1      F   пенсионер     0        158616
5   гражданский брак                 1      M   компаньон     0        255763
6    женат / замужем                 0      F   компаньон     0        240525
7    женат / замужем                 0      M   сотрудник     0        135823
8   гражданский брак                 1      F   сотрудник     0         95856
9    женат / замужем                 0      M   сотрудник     0        144425
10   женат / замужем                 0      M   компаньон     0        113943
11   женат / замужем                 0      F   сотрудник     0         77069
12  гражданский брак                 1      M   пенсионер     0        145017
13   женат / замужем                 0      F   сотрудник     0        130458
14  гражданский брак                 1      F   компаньон     1        165127

                              purpose
0                       покупка жилья
1             приобретение автомобиля
2                       покупка жилья
3          дополнительное образование
4                     сыграть свадьбу
5                       покупка жилья
6                   операции с жильем
7                         образование
8               на проведение свадьбы
9             покупка жилья для семьи
10               покупка недвижимости
11  покупка коммерческой недвижимости
12                    сыграть свадьбу
13            приобретение автомобиля
14         покупка жилой недвижимости

### Шаг 2.4. Удаление дубликатов.

In [103]:
data["education"] = data['education'].str.lower()
data = data.drop_duplicates().reset_index(drop=True)
print(data.head(15))

    children  days_employed  dob_years            education  education_id  \
0          1    8437.673028         42               высшее             0
1          1    4024.803754         36              среднее             1
2          0    5623.422610         33              среднее             1
3          3    4124.747207         32              среднее             1
4          0  340266.072047         53              среднее             1
5          0     926.185831         27               высшее             0
6          0    2879.202052         43               высшее             0
7          0     152.779569         50              среднее             1
8          2    6929.865299         35               высшее             0
9          0    2188.756445         41              среднее             1
10         2    4171.483647         36               высшее             0
11         0     792.701887         40              среднее             1
12         0    2194.220567         65              среднее             1
13         0    1846.641941         54  неоконченное высшее             2
14         0    1844.956182         56               высшее             0

       family_status  family_status_id gender income_type  debt  total_income  \
0    женат / замужем                 0      F   сотрудник     0        253875
1    женат / замужем                 0      F   сотрудник     0        112080
2    женат / замужем                 0      M   сотрудник     0        145885
3    женат / замужем                 0      M   сотрудник     0        267628
4   гражданский брак                 1      F   пенсионер     0        158616
5   гражданский брак                 1      M   компаньон     0        255763
6    женат / замужем                 0      F   компаньон     0        240525
7    женат / замужем                 0      M   сотрудник     0        135823
8   гражданский брак                 1      F   сотрудник     0         95856
9    женат / замужем                 0      M   сотрудник     0        144425
10   женат / замужем                 0      M   компаньон     0        113943
11   женат / замужем                 0      F   сотрудник     0         77069
12  гражданский брак                 1      M   пенсионер     0        145017
13   женат / замужем                 0      F   сотрудник     0        130458
14  гражданский брак                 1      F   компаньон     1        165127

                              purpose
0                       покупка жилья
1             приобретение автомобиля
2                       покупка жилья
3          дополнительное образование
4                     сыграть свадьбу
5                       покупка жилья
6                   операции с жильем
7                         образование
8               на проведение свадьбы
9             покупка жилья для семьи
10               покупка недвижимости
11  покупка коммерческой недвижимости
12                    сыграть свадьбу
13            приобретение автомобиля
14         покупка жилой недвижимости

### Шаг 2.5. Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма.

In [104]:
education_df = data[["education", "education_id"]].drop_duplicates().reset_index(drop=True)
family_status_df = data[["family_status", "family_status_id"]].drop_duplicates().reset_index(drop=True)
print(education_df)
print(family_status_df)
data = data.drop(["education", "family_status"], axis=1)
#print(data.head(10))

             education  education_id
0               высшее             0
1              среднее             1
2  неоконченное высшее             2
3            начальное             3
4       ученая степень             4
           family_status  family_status_id
0        женат / замужем                 0
1       гражданский брак                 1
2         вдовец / вдова                 2
3              в разводе                 3
4  Не женат / не замужем                 4

### Шаг 2.6. Категоризация дохода.

In [105]:
def income_category(row):
    if(row["total_income"] <= 30000):
        return "E"
    elif(row["total_income"] <= 50000):
        return "D"
    elif(row["total_income"] <= 200000):
        return "C"
    elif(row["total_income"] <= 1000000):
        return "B"
    else:
        return "A"
data["total_income_category"] = data.apply(income_category, axis=1)
print(data.head(15))

    children  days_employed  dob_years  education_id  family_status_id gender  \
0          1    8437.673028         42             0                 0      F
1          1    4024.803754         36             1                 0      F
2          0    5623.422610         33             1                 0      M
3          3    4124.747207         32             1                 0      M
4          0  340266.072047         53             1                 1      F
5          0     926.185831         27             0                 1      M
6          0    2879.202052         43             0                 0      F
7          0     152.779569         50             1                 0      M
8          2    6929.865299         35             0                 1      F
9          0    2188.756445         41             1                 0      M
10         2    4171.483647         36             0                 0      M
11         0     792.701887         40             1                 0      F
12         0    2194.220567         65             1                 1      M
13         0    1846.641941         54             2                 0      F
14         0    1844.956182         56             0                 1      F

   income_type  debt  total_income                            purpose  \
0    сотрудник     0        253875                      покупка жилья
1    сотрудник     0        112080            приобретение автомобиля
2    сотрудник     0        145885                      покупка жилья
3    сотрудник     0        267628         дополнительное образование
4    пенсионер     0        158616                    сыграть свадьбу
5    компаньон     0        255763                      покупка жилья
6    компаньон     0        240525                  операции с жильем
7    сотрудник     0        135823                        образование
8    сотрудник     0         95856              на проведение свадьбы
9    сотрудник     0        144425            покупка жилья для семьи
10   компаньон     0        113943               покупка недвижимости
11   сотрудник     0         77069  покупка коммерческой недвижимости
12   пенсионер     0        145017                    сыграть свадьбу
13   сотрудник     0        130458            приобретение автомобиля
14   компаньон     1        165127         покупка жилой недвижимости

   total_income_category
0                      B
1                      C
2                      C
3                      B
4                      C
5                      B
6                      B
7                      C
8                      C
9                      C
10                     C
11                     C
12                     C
13                     C
14                     C

### Шаг 2.7. Категоризация целей кредита.

In [108]:
#print(data["purpose"].unique())
def purpose_category(row):
    if ("образ" in row["purpose"]):
        return "Получение образования"
    elif ("авто" in row["purpose"]):
        return "Операции с автомобилем"
    elif(("жиль" in row["purpose"]) or ("недвиж" in row["purpose"])):
        return "Операции с недвижимостью"
    else:
        return "Проведение свадьбы"
data["purpose_category"] = data.apply(purpose_category, axis=1)
print(data.head(15))

    children  days_employed  dob_years  education_id  family_status_id gender  \
0          1    8437.673028         42             0                 0      F
1          1    4024.803754         36             1                 0      F
2          0    5623.422610         33             1                 0      M
3          3    4124.747207         32             1                 0      M
4          0  340266.072047         53             1                 1      F
5          0     926.185831         27             0                 1      M
6          0    2879.202052         43             0                 0      F
7          0     152.779569         50             1                 0      M
8          2    6929.865299         35             0                 1      F
9          0    2188.756445         41             1                 0      M
10         2    4171.483647         36             0                 0      M
11         0     792.701887         40             1                 0      F
12         0    2194.220567         65             1                 1      M
13         0    1846.641941         54             2                 0      F
14         0    1844.956182         56             0                 1      F

   income_type  debt  total_income                            purpose  \
0    сотрудник     0        253875                      покупка жилья
1    сотрудник     0        112080            приобретение автомобиля
2    сотрудник     0        145885                      покупка жилья
3    сотрудник     0        267628         дополнительное образование
4    пенсионер     0        158616                    сыграть свадьбу
5    компаньон     0        255763                      покупка жилья
6    компаньон     0        240525                  операции с жильем
7    сотрудник     0        135823                        образование
8    сотрудник     0         95856              на проведение свадьбы
9    сотрудник     0        144425            покупка жилья для семьи
10   компаньон     0        113943               покупка недвижимости
11   сотрудник     0         77069  покупка коммерческой недвижимости
12   пенсионер     0        145017                    сыграть свадьбу
13   сотрудник     0        130458            приобретение автомобиля
14   компаньон     1        165127         покупка жилой недвижимости

   total_income_category          purpose_category
0                      B  Операции с недвижимостью
1                      C    Операции с автомобилем
2                      C  Операции с недвижимостью
3                      B     Получение образования
4                      C        Проведение свадьбы
5                      B  Операции с недвижимостью
6                      B  Операции с недвижимостью
7                      C     Получение образования
8                      C        Проведение свадьбы
9                      C  Операции с недвижимостью
10                     C  Операции с недвижимостью
11                     C  Операции с недвижимостью
12                     C        Проведение свадьбы
13                     C    Операции с автомобилем
14                     C  Операции с недвижимостью

### Ответы на вопросы.

##### Вопрос 1:

##### Вывод 1:

## Общий вывод: